<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title></title>
</head>
<br>
<h2>
  เรียน คุณ{{staffName}},
</h2>
<p>
    ทางผู้ดูแลระบบได้ทำการสมัครสมาชิกเพื่อให้คุณสามารถเข้าใช้งานระบบได้ โดยทางเราขอให้คุณ {{staffName}} โปรดคลิกที่ลิงค์ด้านล่างเพื่อทำการยืนยันอีเมลของคุณ
</p>
<br />
<a href="{{confirmedEmailUrl}}">คลิกที่นี่เพื่อทำการยืนยันอีเมล</a>
<br />
<p>
    โดยลิงค์ด้านบนจะหมดอายุใน 3 วัน ถ้าคุณไม่ได้ทำการกดคลิกปุ่มดังกล่าว คุณจะทำต้องทำการขอยืนยันอีเมลใหม่อีกครั้ง
</p>
<p>
    ขอแสดงความนับถือ
</p>
<br />
<h3>
    ทีมงาน {{companyName}}
</h3>
</body>

</html>