<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0' />
  <title></title>
</head>
<br>
<h4>
  เรียน คุณ {{staffName}}
</h4>
<p>
    ทางเราได้รับคำขอให้ทำการเปลี่ยนรหัสผ่านใหม่ โดยทางเราขอให้คุณ {{staffName}} โปรดคลิกที่ลิงค์ด้านล่างเพื่อทำการเปลี่ยนรหัสผ่าน
</p>
<br />
<a href="{{resetPasswordUrl}}">คลิกที่นี่เพื่อทำการเปลี่ยนรหัสผ่าน</a>
<br />
<br />
<p>
    หากคุณไม่ได้ทำการขอเปลี่ยนรหัสผ่าน โปรดไม่ต้องทำการคลิกที่ลิงค์ด้านบน
</p>
<p>
    ขอแสดงความนับถือ
</p>
<h4>
    ทีมงาน {{companyName}}
</h4>
</body>

</html>